################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Config/bin
/Config/obj
/DataContract/bin
/DataContract/obj
/Generator/bin
/Generator/obj
/Sorter/bin
/Sorter/obj
/.vs
